<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QS_ii.Properties.Settings.TEST_SLSYHIConnectionString"
            connectionString="Data Source=192.168.100.191;Initial Catalog=TEST_SLSYHI;User ID=eric"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>